06D - CasoDeEstudioWCFEsqueleto/SitioWeb/App_WebReferences/ServicioWcf/ServicioArticulo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulo" nillable="true" type="tns:Articulo" />
  <xs:complexType name="ArrayOfArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articulo" nillable="true" type="tns:Articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticulo" nillable="true" type="tns:ArrayOfArticulo" />
</xs:schema>