06D - CasoDeEstudioWCFEsqueleto/SitioWeb/App_WebReferences/ServicioWcf/ServicioArticulo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioArticulo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MiServicioWcf/ServicioArticulo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MiServicioWcf/ServicioArticulo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MiServicioWcf/ServicioArticulo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioArticulo_AgregarArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarArticulo" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_AgregarArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_EliminarArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarArticulo" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_EliminarArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_ModificarArticulos_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArticulos" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_ModificarArticulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_BuscarArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarArticulo" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_BuscarArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_ListarArticulos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarArticulos" />
  </wsdl:message>
  <wsdl:message name="IServicioArticulo_ListarArticulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarArticulosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioArticulo">
    <wsdl:operation name="AgregarArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioArticulo/AgregarArticulo" message="tns:IServicioArticulo_AgregarArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioArticulo/AgregarArticuloResponse" message="tns:IServicioArticulo_AgregarArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioArticulo/EliminarArticulo" message="tns:IServicioArticulo_EliminarArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioArticulo/EliminarArticuloResponse" message="tns:IServicioArticulo_EliminarArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioArticulo/ModificarArticulos" message="tns:IServicioArticulo_ModificarArticulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioArticulo/ModificarArticulosResponse" message="tns:IServicioArticulo_ModificarArticulos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioArticulo/BuscarArticulo" message="tns:IServicioArticulo_BuscarArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioArticulo/BuscarArticuloResponse" message="tns:IServicioArticulo_BuscarArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarArticulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioArticulo/ListarArticulos" message="tns:IServicioArticulo_ListarArticulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioArticulo/ListarArticulosResponse" message="tns:IServicioArticulo_ListarArticulos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioArticulo" type="tns:IServicioArticulo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarArticulo">
      <soap:operation soapAction="http://tempuri.org/IServicioArticulo/AgregarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarArticulo">
      <soap:operation soapAction="http://tempuri.org/IServicioArticulo/EliminarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarArticulos">
      <soap:operation soapAction="http://tempuri.org/IServicioArticulo/ModificarArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarArticulo">
      <soap:operation soapAction="http://tempuri.org/IServicioArticulo/BuscarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarArticulos">
      <soap:operation soapAction="http://tempuri.org/IServicioArticulo/ListarArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioArticulo">
    <wsdl:port name="BasicHttpBinding_IServicioArticulo" binding="tns:BasicHttpBinding_IServicioArticulo">
      <soap:address location="http://localhost/MiServicioWcf/ServicioArticulo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>