06B - CasoEstudioWebServiceEsqueleto/PresentacionWeb/App_WebReferences/ServicioWeb/ServicioArticulos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCodigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarArticuloResult" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Articulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgregarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarArticuloResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarArticulo" />
  </wsdl:message>
  <wsdl:message name="BuscarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarArticulo" />
  </wsdl:message>
  <wsdl:message name="AgregarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarArticuloResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioArticulosSoap">
    <wsdl:operation name="BuscarArticulo">
      <wsdl:input message="tns:BuscarArticuloSoapIn" />
      <wsdl:output message="tns:BuscarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarArticulo">
      <wsdl:input message="tns:AgregarArticuloSoapIn" />
      <wsdl:output message="tns:AgregarArticuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioArticulosSoap" type="tns:ServicioArticulosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarArticulo">
      <soap:operation soapAction="http://tempuri.org/BuscarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarArticulo">
      <soap:operation soapAction="http://tempuri.org/AgregarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioArticulosSoap12" type="tns:ServicioArticulosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarArticulo">
      <soap12:operation soapAction="http://tempuri.org/BuscarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarArticulo">
      <soap12:operation soapAction="http://tempuri.org/AgregarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioArticulos">
    <wsdl:port name="ServicioArticulosSoap" binding="tns:ServicioArticulosSoap">
      <soap:address location="http://pc31/WSArticulos/ServicioArticulos.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioArticulosSoap12" binding="tns:ServicioArticulosSoap12">
      <soap12:address location="http://pc31/WSArticulos/ServicioArticulos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>