06A – CasoEstudioWsSoapEsqueleto/Presentacion/App_WebReferences/ReferenciaCalculosMatematicos/CalculosMatematicos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pBase" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pExponente" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PotenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Factorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pFactorial" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FactorialResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapIn">
    <wsdl:part name="parameters" element="tns:Factorial" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapOut">
    <wsdl:part name="parameters" element="tns:FactorialResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculosMatematicosSoap">
    <wsdl:operation name="Potencia">
      <wsdl:input message="tns:PotenciaSoapIn" />
      <wsdl:output message="tns:PotenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <wsdl:input message="tns:FactorialSoapIn" />
      <wsdl:output message="tns:FactorialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculosMatematicosSoap" type="tns:CalculosMatematicosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculosMatematicosSoap12" type="tns:CalculosMatematicosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Potencia">
      <soap12:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap12:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculosMatematicos">
    <wsdl:port name="CalculosMatematicosSoap" binding="tns:CalculosMatematicosSoap">
      <soap:address location="http://pc916/Calculos/CalculosMatematicos.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculosMatematicosSoap12" binding="tns:CalculosMatematicosSoap12">
      <soap12:address location="http://pc916/Calculos/CalculosMatematicos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>